doctype html
html
  head
    meta(charset="utf-8")
    style.
      body { font-family: "Times New Roman", serif; font-size: 12pt; text-align: justify; margin: 3cm 2cm; }
      .center { text-align: center; }
      .right { text-align: right; }
      .signature { margin-top: 60px; text-align: center; }
      .underline { display: inline-block; border-bottom: 1px solid #000; width: 70%; margin-top: 1em; }
      table { width: 100%; border-collapse: collapse; margin-top: 1em; }
      td:last-child { text-align: right; }

  body
    p.center ASUNTO: RENUNCIA VOLUNTARIA.

    p {{razonSocial}}
    p MUNICIPIO DE {{municipio}}.
    p.right P R E S E N T E:

    p
      | POR MEDIO DEL PRESENTE OCURSO, ES MI DESEO RENUNCIAR VOLUNTARIAMENTE A MI EMPLEO, Y AL PUESTO DE
      strong {{puesto}}
      | , QUE VENÍA DESEMPEÑANDO DESDE EL {{fechaAltaIMSS}}, ...

    p
      | ... RENUNCIO VOLUNTARIAMENTE A MI ÚLTIMO SALARIO DE $
      strong {{salarioDiario}}
      |  ({{salarioLetra}} PESOS 00/100 M.N.), ...

    p.center ATENTAMENTE
    p.center {{municipio}} A {{fechaRenuncia}}
    p.signature
      .underline
      p ({{nombreTrabajador}})

    hr
    p.center R E C I B O   F I N I Q U I T O

    table
      tr
        td Nombre:
        td {{nombreTrabajador}}
      tr
        td Fecha de ingreso:
        td {{fechaAltaIMSS}}
      tr
        td Puesto:
        td {{puesto}}
      tr
        td Salario diario:
        td ${{salarioDiario}}

    table
      tr
        td Parte proporcional de vacaciones 2024–2025
        td ${{finiquito.vacaciones}}
      tr
        td Parte proporcional de prima vacacional
        td ${{finiquito.primaVacacional}}
      tr
        td Aguinaldo proporcional del 2024
        td ${{finiquito.aguinaldo}}
      tr
        td Salarios devengados
        td ${{finiquito.salariosDevengados}}
      tr
        td strong TOTAL NETO DE PERCEPCIONES
        td strong ${{finiquito.total}}

    p.center {{municipio}} A {{fechaRenuncia}}
    p.signature
      .underline
      p ({{nombreTrabajador}})
